/* General Section Styling */
.about-us {
    padding: 4rem 1rem;
    background-color: var(--background);
    color: var(--text-color);
}

.about-us h1 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

.about-us .intro {
    max-width: 700px;
    margin: 0 auto 3rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
}

.about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.about-us-image img {
    border: 0.5px solid var(--accent-color);
    border-radius: 0.5rem;
}

/* Section Headers */
.about-us h2,
.facilitators h2 {
    font-size: 1.85rem;
    font-weight: bold;
    margin-top: 3rem;
    color: var(--primary-color);
    display: block;
    padding-bottom: 0.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    position: relative;
}

.about-us h2::after,
.facilitators h2::after {
    content: '';
    display: block;
    width: 250px;
    height: 2px;
    background-color: var(--accent-color);
    margin: 0.3rem auto 0;
}

.about-us h2::after {
    width: 22rem;
}

.facilitators h2::after {
    width: 14rem;
}

/* Board of Directors */
.board-memeber-container {
    display: flex;
    flex-direction: column;
}

.board-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

.board-member img {
    width: 175px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
    flex-shrink: 0;
    border: 2px solid var(--primary-color)
}

.board-member-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: min(70vw, 1000px);
}

.board-member-text p {
    margin-top: 1rem;
}

.board-member h3 {
    color: var(--accent-color);
    font-size: 1.3rem;
    margin: 0rem;
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.position {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: var(--primary-color);
}

/* Facilitators Grid */
.facilitator-container {
    padding-bottom: 4rem;
    color: var(--text-color);
    background-color: var(--light-text);
}

.facilitator-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.facilitator-card {
    text-align: center;
    font-size: 0.95rem;
}

.facilitator-card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.facilitator-card p {
    color: var(--text-color);
    margin: 0;
}
