* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fefae0;
    display: flex;
    position: relative;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 7dvh;
    background-color: #ffdab9;
    position: sticky;
    top: 0px;
    transition: opacity 150ms ease-in-out;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0px 2.5%;
    justify-content: space-between;
}

.nav-scrolled {
    opacity: 0.75;
}

.nav-header {
    color: #590d22;
    font-size: 2rem;
}

.nav-links-container {
    display: flex;
    justify-content: end;
    align-items: stretch;
}

.nav-links {
    padding: 2% 2%;
    width: fit-content;
    text-wrap: nowrap;
    border-bottom: 2px solid transparent;
    transition: border-bottom, background-color 150ms ease-out;
}

.nav-links:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid black;
}

.hero-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
}

.hero-position {
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0px;
}

.hero-spacer {
    width: 100%;
    height: 100%;
    outline: 1px solid red;
}

.hero-image {
    background-image: url('images/image_3.png');
    background-position: center;
    background-size: cover;
    transition: filter 350ms ease-in-out;
    filter: blur(3px) brightness(75%);
    height: 100dvh;
}

.hero-image-scrolled {
    filter: blur(0px) brightness(85%);
}

.unbutton {
    background-color: transparent;
    border: none;
    margin: 0;
    /* padding: 0; */
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}

section {
    width: 100%;
    padding: 2dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h2 {
    font-size: 2.25rem;
    color: #590d22;
}

section p {
    font-size: 1.25rem;
    padding: 2dvh;
    text-align: center;
}

section a {
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5dvh 1dvh;
    margin: 1dvh;
    background-color: #ffdab9;
    color: black;
}

.grief-support-groups img,
.grief-education img,
.newsletter img {
    width: 75%;
    padding: 2dvh;
}

.about-us-grief-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 20dvh;
}

.about-us-grief-info .grief-support-groups {
    /* border-right: 1px solid #590d22; */
}

.about-us-grief-info .grief-education {
    /* border-left: 1px solid #590d22; */
}

.about-us-support-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fonts */
.quattrocento-sans-regular {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quattrocento-sans-bold {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .quattrocento-sans-regular-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .quattrocento-sans-bold-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  